.search-bar{
    position: absolute;
    width: 100%;
    height: 1.066667rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: .213333rem;
}
.search-bar .location-bar{
    margin-right: .533333rem;
    width: 2.453333rem;
    height: .746667rem;
    border-radius: .346667rem;
    background-color: rgba(0,0,0,.3);
}
.search-bar .location-icon{
    display: inline-block;
    width: .4rem;
    height: .533333rem;
    margin-left: .346667rem;
    vertical-align: .213333rem;
    margin-left: .16rem;
    background-image: url(../img/locationIcon.png);
    background-size: cover;
}
.search-bar .location-text{
    display: inline-block;
    font-size: .373333rem;
    color: #fff;
    position: relative;
    vertical-align: .32rem;
    margin-left: -0.08rem;
}
.search-bar .location-text::after{
    content: ' ';
    display: block;
    position: absolute;
    width: .373333rem;
    height: .373333rem;
    top: -0.026667rem;
    left:1.066667rem;
    background-image: url(../img/arrowIcon.png);
    background-size: cover;
}
.search-bar .search-btn{
    position: relative;
    width: 4.586667rem;
    height: .8rem;
    background-color: #fff;
    border-radius: .533333rem;
}
.search-bar .search-btn::before{
    content: ' ';
    display: block;
    width: .373333rem;
    height: .373333rem;
    background-image: url(../img/searchIcon.png);
    background-size: cover;
    position: absolute;
    top: .186667rem;
    left: .266667rem;
}
.search-bar .place-holder{
    color: #a9a9a9;
    font-size: .373333rem;
    height: 100%;
    line-height: .8rem;
    margin-left: .746667rem;
}